<p>zodiaco works!</p>
<h1>Datos Personales</h1>
<div class="grid grid-cols-4 gap-4">
    <div class="col-start-2">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
            <div class="mb-5">
              <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">nombre</label>
              <input type="text" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
placeholder="nombre" formControlName="nombre"/>
            </div>
            <div class="mb-5">
                <label for="Apaterno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">nombre</label>
                <input type="text" id="Apaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
placeholder="Apaterno" formControlName="Apaterno"/>
              </div>
              <div class="mb-5">
                <label for="Amaterno" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">nombre</label>
                <input type="text" id="Amaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
placeholder="Amaterno" formControlName="Amaterno"/>
              </div>
<h1>Fecha de nacimiento</h1>
            <div class="mb-5">
                <label for="dia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edad</label>
                <input type="number" id="edad" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>




            
        

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Submit
            </button>
          </form>
    </div>
    <div>
        <div>
            <button type="submit" (click)="subImprimir()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Imprimir
            </button>
            {{tem}}
        </div>
    </div>
  </div>